In [3]:
import pandas as pd

## For Ipl

In [4]:
# for ipl
def Ipl_firstInnPred(pklFile:str):
    teams = ['Royal Challengers Bangalore','Kolkata Knight Riders',
         'Sunrisers Hyderabad','Mumbai Indians','Chennai Super Kings','Rajasthan Royals', 
         'Delhi Capitals','Punjab Kings','Gujarat Titans','Lucknow Super Giants']
    df_1 = pd.read_pickle(pklFile)
    df_1 = df_1[['Match_id','ininings','ininings.team', 'team_bowling','runs.total','runs_cumsum', 'wicket_cumsum','ininings.overs.over','city' ]]
    df_1 = df_1[df_1['ininings'] == 1]
    df_2 = df_1.groupby('Match_id').last()
    df_5 = df_1.merge(df_2['runs_cumsum'], on='Match_id', how='inner')
    df_5['over'] = df_5['ininings.overs.over'].apply(lambda x: (x + 1))
    df_5['balls'] = df_5.groupby(['Match_id']).cumcount()
    df_5['balls'] = df_5['balls'].apply(lambda x: (x + 1))
    df_5['wicket_left'] = 10 - df_5['wicket_cumsum']
    df_5['balls_left'] = 120 - df_5['balls']
    df_5['balls_left'] = df_5['balls_left'].apply(lambda x: None if x<0 else x)
    df_5 = df_5.dropna()
    df_5['balls_left'] = df_5['balls_left'].astype('int64')
    mid = df_5['Match_id'].unique()
    last_five =[]
    groups = df_5.groupby('Match_id')
    for match in mid:
        last_five.extend(groups.get_group(match).rolling(window=30).sum()['runs.total'].values.tolist())
    df_5['runs_last_five_overs'] = last_five
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Delhi Daredevils', 'Delhi Capitals')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Delhi Daredevils', 'Delhi Capitals')
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Kings XI Punjab', 'Punjab Kings')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Kings XI Punjab', 'Punjab Kings')
    df_5 = df_5[df_5['team_bowling'].isin(teams)]
    df_5 = df_5[df_5['ininings.team'].isin(teams)]
    df_5['crr']=((df_5['runs_cumsum_x']*6)/df_5['balls'])
    df_5['crr'] = df_5['crr'].apply(lambda x: round(x,2))
    print(len(df_5['Match_id'].unique()))
    df_6 = df_5[['ininings.team','team_bowling','runs_cumsum_x','wicket_left','crr','city','balls_left','runs_last_five_overs','runs_cumsum_y']]
    df_6 = df_6.dropna()
    df_6 = df_6.rename(columns={'ininings.team':'team_batting',
                    'runs_cumsum_x':'current_score',
                    'runs_cumsum_y':'total_score', 'runs_last_five_overs':'Rlast_fiveO'
                   })
    first_innPred_df = df_6.sample(df_6.shape[0])
    return first_innPred_df

In [6]:
Ipl_firstInnPred = Ipl_firstInnPred('../ipl_DataClean/IPL_Data_Cleaning_cached_df')

C:\Users\arnav\AppData\Local\Temp\ipykernel_12664\2450813548.py:23: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['city', 'ininings.team', 'team_bowling'], dtype='object')
  last_five.extend(groups.get_group(match).rolling(window=30).sum()['runs.total'].values.tolist())

807

In [7]:
Ipl_firstInnPred

,team_batting,team_bowling,current_score,wicket_left,crr,city,balls_left,Rlast_fiveO,total_score
41137,Rajasthan Royals,Delhi Capitals,106,10,8.96,Mumbai,49,56.0,222
82868,Rajasthan Royals,Chennai Super Kings,80,8,6.15,Chennai,42,30.0,146
49661,Mumbai Indians,Royal Challengers Bangalore,129,5,7.37,Mumbai,15,35.0,165
98995,Chennai Super Kings,Delhi Capitals,57,9,5.90,Abu Dhabi,62,30.0,177
14881,Sunrisers Hyderabad,Kolkata Knight Riders,172,7,8.67,Kolkata,1,41.0,181
...,...,...,...,...,...,...,...,...,...
89997,Kolkata Knight Riders,Royal Challengers Bangalore,31,9,6.00,Bangalore,89,31.0,154
12611,Kolkata Knight Riders,Punjab Kings,81,9,9.92,Indore,71,61.0,245
103679,Royal Challengers Bangalore,Sunrisers Hyderabad,83,7,6.55,Hyderabad,44,49.0,160
63718,Royal Challengers Bangalore,Kolkata Knight Riders,56,6,5.51,Kolkata,59,38.0,135
117786,Sunrisers Hyderabad,Delhi Capitals,142,3,7.16,Hyderabad,1,29.0,146

In [5]:
# Ipl_firstInnPred.to_pickle('../ipl_DataClean/IPL_1stInnPredData_cached_df')

## for t20

In [8]:
# for t20
def t20_firstInnPred(pklFile:str):
    teams = ['Australia','Sri Lanka','New Zealand','Bangladesh','India','Ireland','Scotland','Netherlands',
         'West Indies','Pakistan','Zimbabwe','South Africa','England','Afghanistan']
    df_1 = pd.read_pickle(pklFile)
    df_1 = df_1[['Match_id','ininings','ininings.team', 'team_bowling','runs.total','runs_cumsum', 'wicket_cumsum','ininings.overs.over','city' ]]
    df_1 = df_1[df_1['ininings'] == 1]
    df_2 = df_1.groupby('Match_id').last()
    df_5 = df_1.merge(df_2['runs_cumsum'], on='Match_id', how='inner')
    df_5['over'] = df_5['ininings.overs.over'].apply(lambda x: (x + 1))
    df_5['balls'] = df_5.groupby(['Match_id']).cumcount()
    df_5['balls'] = df_5['balls'].apply(lambda x: (x + 1))
    df_5['wicket_left'] = 10 - df_5['wicket_cumsum']
    df_5['balls_left'] = 120 - df_5['balls']
    df_5['balls_left'] = df_5['balls_left'].apply(lambda x: None if x<0 else x)
    df_5 = df_5.dropna()
    df_5['balls_left'] = df_5['balls_left'].astype('int64')
    mid = df_5['Match_id'].unique()
    last_five =[]
    groups = df_5.groupby('Match_id')
    for match in mid:
        last_five.extend(groups.get_group(match).rolling(window=30).sum()['runs.total'].values.tolist())
    df_5['runs_last_five_overs'] = last_five
    df_5 = df_5[df_5['team_bowling'].isin(teams)]
    df_5 = df_5[df_5['ininings.team'].isin(teams)]
    df_5['crr']=((df_5['runs_cumsum_x']*6)/df_5['balls'])
    df_5['crr'] = df_5['crr'].apply(lambda x: round(x,2))
    print(len(df_5['Match_id'].unique()))
    df_6 = df_5[['ininings.team','team_bowling','runs_cumsum_x','wicket_left','crr','city','balls_left','runs_last_five_overs','runs_cumsum_y']]
    df_6 = df_6.dropna()
    df_6 = df_6.rename(columns={'ininings.team':'team_batting',
                    'runs_cumsum_x':'current_score',
                    'runs_cumsum_y':'total_score', 'runs_last_five_overs':'Rlast_fiveO'
                   })
    first_innPred_df = df_6.sample(df_6.shape[0])
    return first_innPred_df

In [9]:
t20_firstInnPred = t20_firstInnPred('../t20_DataClean/t20_Data_Cleaning_cached_df')

C:\Users\arnav\AppData\Local\Temp\ipykernel_12664\2755844497.py:22: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['city', 'ininings.team', 'team_bowling'], dtype='object')
  last_five.extend(groups.get_group(match).rolling(window=30).sum()['runs.total'].values.tolist())

1271

In [66]:
# t20_firstInnPred.to_pickle('../t20_DataClean/t20_1stInnPredData_cached_df')