In [1]:
import pandas as pd

## For Ipl

In [2]:
# for ipl
def firstInnPred(pklFile:str):
    teams = ['Royal Challengers Bangalore','Kolkata Knight Riders',
         'Sunrisers Hyderabad','Mumbai Indians','Chennai Super Kings','Rajasthan Royals', 
         'Delhi Capitals','Punjab Kings','Gujarat Titans','Lucknow Super Giants']
    df_1 = pd.read_pickle(pklFile)
    df_1 = df_1[['Match_id','ininings','ininings.team', 'team_bowling','runs.total','runs_cumsum', 'wicket_cumsum','ininings.overs.over','city' ]]
    df_1 = df_1[df_1['ininings'] == 1]
    df_2 = df_1.groupby('Match_id').last()
    df_5 = df_1.merge(df_2['runs_cumsum'], on='Match_id', how='inner')
    df_5['over'] = df_5['ininings.overs.over'].apply(lambda x: (x + 1))
    df_5['balls'] = df_5.groupby(['Match_id']).cumcount()
    df_5['balls'] = df_5['balls'].apply(lambda x: (x + 1))
    df_5['wicket_left'] = 10 - df_5['wicket_cumsum']
    df_5['balls_left'] = 120 - df_5['balls']
    df_5['balls_left'] = df_5['balls_left'].apply(lambda x: None if x<0 else x)
    df_5 = df_5.dropna()
    df_5['balls_left'] = df_5['balls_left'].astype('int64')
    mid = df_5['Match_id'].unique()
    last_five =[]
    groups = df_5.groupby('Match_id')
    for match in mid:
        last_five.extend(groups.get_group(match).rolling(window=30).sum()['runs.total'].values.tolist())
    df_5['runs_last_five_overs'] = last_five
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Delhi Daredevils', 'Delhi Capitals')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Delhi Daredevils', 'Delhi Capitals')
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Kings XI Punjab', 'Punjab Kings')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Kings XI Punjab', 'Punjab Kings')
    df_5 = df_5[df_5['team_bowling'].isin(teams)]
    df_5 = df_5[df_5['ininings.team'].isin(teams)]
    df_5['crr']=((df_5['runs_cumsum_x']*6)/df_5['balls'])
    df_5['crr'] = df_5['crr'].apply(lambda x: round(x,2))
    df_6 = df_5[['ininings.team','team_bowling','runs_cumsum_x','wicket_left','crr','city','balls_left','runs_last_five_overs','runs_cumsum_y']]
    df_6 = df_6.dropna()
    df_6 = df_6.rename(columns={'ininings.team':'team_batting',
                    'runs_cumsum_x':'current_score',
                    'runs_cumsum_y':'total_score', 'runs_last_five_overs':'Rlast_fiveO'
                   })
    first_innPred_df = df_6.sample(df_6.shape[0])
    return first_innPred_df

In [3]:
fInnPredDf = firstInnPred('./Data_Cleaning_cached_df')

C:\Users\arnav\AppData\Local\Temp\ipykernel_8884\2102852255.py:22: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['city', 'ininings.team', 'team_bowling'], dtype='object')
  last_five.extend(groups.get_group(match).rolling(window=30).sum()['runs.total'].values.tolist())

In [5]:
# fInnPredDf.to_pickle('./IPL_1stInnPredData_cached_df')

## for t20

In [6]:
pf_1 = pd.read_pickle('./t20_Data_Cleaning_cached_df')
pf_1

,Match_id,dates,winner,ininings,ininings.team,team_bowling,runs.total,runs_cumsum,wicket_cumsum,ininings.overs.over,city
0,1,2017-02-17,Sri Lanka,1,Australia,Sri Lanka,0,0,0,0,None
1,1,2017-02-17,Sri Lanka,1,Australia,Sri Lanka,0,0,0,0,None
2,1,2017-02-17,Sri Lanka,1,Australia,Sri Lanka,1,1,0,0,None
3,1,2017-02-17,Sri Lanka,1,Australia,Sri Lanka,2,3,0,0,None
4,1,2017-02-17,Sri Lanka,1,Australia,Sri Lanka,0,3,0,0,None
...,...,...,...,...,...,...,...,...,...,...,...
167,2612,2021-08-27,Germany,2,Germany,France,1,43,1,8,Murcia
168,2612,2021-08-27,Germany,2,Germany,France,1,44,1,8,Murcia
169,2612,2021-08-27,Germany,2,Germany,France,1,45,1,9,Murcia
170,2612,2021-08-27,Germany,2,Germany,France,0,45,1,9,Murcia
171,2612,2021-08-27,Germany,2,Germany,France,1,46,1,9,Murcia

In [ ]:
# for t20
def firstInnPred(pklFile:str):
    teams = ['Royal Challengers Bangalore','Kolkata Knight Riders',
         'Sunrisers Hyderabad','Mumbai Indians','Chennai Super Kings','Rajasthan Royals', 
         'Delhi Capitals','Punjab Kings','Gujarat Titans','Lucknow Super Giants']
    df_1 = pd.read_pickle(pklFile)
    df_1 = df_1[['Match_id','ininings','ininings.team', 'team_bowling','runs.total','runs_cumsum', 'wicket_cumsum','ininings.overs.over','city' ]]
    df_1 = df_1[df_1['ininings'] == 1]
    df_2 = df_1.groupby('Match_id').last()
    df_5 = df_1.merge(df_2['runs_cumsum'], on='Match_id', how='inner')
    df_5['over'] = df_5['ininings.overs.over'].apply(lambda x: (x + 1))
    df_5['balls'] = df_5.groupby(['Match_id']).cumcount()
    df_5['balls'] = df_5['balls'].apply(lambda x: (x + 1))
    df_5['wicket_left'] = 10 - df_5['wicket_cumsum']
    df_5['balls_left'] = 120 - df_5['balls']
    df_5['balls_left'] = df_5['balls_left'].apply(lambda x: None if x<0 else x)
    df_5 = df_5.dropna()
    df_5['balls_left'] = df_5['balls_left'].astype('int64')
    mid = df_5['Match_id'].unique()
    last_five =[]
    groups = df_5.groupby('Match_id')
    for match in mid:
        last_five.extend(groups.get_group(match).rolling(window=30).sum()['runs.total'].values.tolist())
    df_5['runs_last_five_overs'] = last_five
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Delhi Daredevils', 'Delhi Capitals')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Delhi Daredevils', 'Delhi Capitals')
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
    df_5['team_bowling'] = df_5['team_bowling'].str.replace('Kings XI Punjab', 'Punjab Kings')
    df_5['ininings.team'] = df_5['ininings.team'].str.replace('Kings XI Punjab', 'Punjab Kings')
    df_5 = df_5[df_5['team_bowling'].isin(teams)]
    df_5 = df_5[df_5['ininings.team'].isin(teams)]
    df_5['crr']=((df_5['runs_cumsum_x']*6)/df_5['balls'])
    df_5['crr'] = df_5['crr'].apply(lambda x: round(x,2))
    df_6 = df_5[['ininings.team','team_bowling','runs_cumsum_x','wicket_left','crr','city','balls_left','runs_last_five_overs','runs_cumsum_y']]
    df_6 = df_6.dropna()
    df_6 = df_6.rename(columns={'ininings.team':'team_batting',
                    'runs_cumsum_x':'current_score',
                    'runs_cumsum_y':'total_score', 'runs_last_five_overs':'Rlast_fiveO'
                   })
    first_innPred_df = df_6.sample(df_6.shape[0])
    return first_innPred_df